.eric {
    background-image: url("./lizard.jpg") ;
    background-size: cover;
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    line-height: 1.2;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 84%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 84%, 0% 100%);
  
}

.heading {
  color: #fff;
  font-size: 100px;
  
}

.info {
  color: #fff;
}
  @media only screen and (max-width: 500px) {
    .eric {
      width: 100%;
    }
  }